<template id="right-col-sample">
  <style>
    td[colspan] {
      height: 32px;
      position: relative;
      padding-left: 42px;
    }
  </style>
  <table border="1">
    <tr>
      <td colspan="2">
        <slot name="preview"></slot>
        <slot name="header"></slot>
      </td>
    </tr>
    <tr>
      <td><slot name="left-col"></slot></td>
      <td><slot name="right-col"></slot></td>
    </tr>
  </table>

  <sg-script>
    currentHost.appendChild(currentHost.getPreview());
  </sg-script>
</template>

<template id="sg-src">
  <pre><code></code></pre>
  <sg-script>
    const lang = currentHost.getAttribute('lang') || 'html';
    const code = currentRoot.querySelector('code');

    const css = document.createElement('link');
    css.type = 'text/css';
    css.rel = 'stylesheet';
    css.href = 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/stackoverflow-light.min.css';
    currentRoot.appendChild(css);

    code.innerHTML = hljs.highlight(lang, currentHost.innerHTML.trim()).value;
  </sg-script>
</template>

<template id="sg-text">
  <style type="text/css">
    h3 {
      margin: 0;
    }
  </style>
  <div class="marked"></div>
  <sg-script>
    const code = currentRoot.querySelector('.marked');
    let source = currentHost.innerHTML;
    const match = source.match(/^[\n]*(\s+)/);

    if (match) {
      const [, baseIndent] = match;
      source = source.replace(new RegExp(`^${baseIndent}`, 'gm'), '');
    }

    code.innerHTML = marked(source);
  </sg-script>
</template>
